body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 30px;
    color: rgb(14, 180, 108)
}

button{
    background-color: rgb(14, 157, 180);
    color: rgb(27, 10, 224);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover{
    color: rgb(180, 14, 14);
}

#counterLabel{
    font-size: 50px;
    color: rgb(180, 14, 147);
}

#btnContainer{
    gap: 10px;
}

.buttons{
    padding: 10px;
}